.Home {
}

.Home_landing_page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: relative;
}

.Home_landing_page_content_wrapper {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home_landing_page_content {
  position: absolute;
  margin-top: 2rem;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Home_learn_more {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text);
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  z-index: 2;
}

.Home_learn_more a {
  color: var(--color-background);
  text-decoration: none;
  text-align: center;
  display: block;
}

.Home_landing_page_image {
  width: 200px;
  height: auto;
  border-radius: 16px;
}

.Home_landing_page_top_text_wrapper {
}

.Home_title {
  text-align: center;
  color: var(--color-background);
}

.Home_title span {
  color: var(--color-primary);
  font-size: 5rem;
  display: block;
  font-weight: 700;
}

.Home_position {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-background);
}

.Home_top {
  padding-top: 2rem;
}
