:root {
  --color-primary-dark: salmon;
  --color-secondary-dark: #f59e0b;
  --color-background-dark: #0f172a;
  --color-text-dark: #f8fafc;
  --color-primary-light: salmon;
  --color-secondary-light: #f59e0b;
  --color-background-light: #ffffff;
  --color-text-light: #111827;
}

[data-theme="dark"] {
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
}
